<%- include("include/header") %> <%- include("include/navbar") %>

<div class="page-content" id="content">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="title">/projects</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 p-3">
      <div class="card mb-3">
        <a class="project-link " href="/">
          <div class="card-image text-center">
            <i class="fas fa-bold fa-5x p-3"></i>
            <div
              class="overlay d-flex justify-content-center align-items-center"
            >
              <button type="button" class="text btn btn-outline-orange">
                See project
              </button>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">Bald Engine</h5>
          <p class="card-text text-justify">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text text-justify">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 p-3">
      <div class="card mb-3">
        <a class="project-link " href="/">
          <div class="card-image text-center">
            <i class="fas fa-globe fa-5x p-3"></i>
            <div
              class="overlay d-flex justify-content-center align-items-center"
            >
              <button type="button" class="text btn btn-outline-orange">
                See project
              </button>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">Personal Website</h5>
          <p class="card-text text-justify">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text text-justify">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 p-3">
      <div class="card mb-3">
        <a class="project-link " href="/">
          <div class="card-image text-center">
            <i class="fas fa-plane-departure fa-5x p-3"></i>
            <div
              class="overlay d-flex justify-content-center align-items-center"
            >
              <button type="button" class="text btn btn-outline-orange">
                See project
              </button>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">Booking System For LOT</h5>
          <p class="card-text text-justify">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text text-justify">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 p-3">
      <div class="card mb-3">
        <a class="project-link " href="/">
          <div class="card-image text-center">
            <i class="fas fa-long-arrow-alt-right fa-5x p-3"></i>
            <div
              class="overlay d-flex justify-content-center align-items-center"
            >
              <button type="button" class="text btn btn-outline-orange">
                See project
              </button>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">Vector Field Visualization</h5>
          <p class="card-text text-justify">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text text-justify">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-12 p-3">
      <div class="card mb-3">
        <a class="project-link " href="/">
          <div class="card-image text-center">
            <i class="fas fa-car fa-5x p-3"></i>
            <div
              class="overlay d-flex justify-content-center align-items-center"
            >
              <button type="button" class="text btn btn-outline-orange">
                See project
              </button>
            </div>
          </div>
        </a>
        <div class="card-body">
          <h5 class="card-title">RC Car</h5>
          <p class="card-text text-justify">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p class="card-text text-justify">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("include/footer") %>
