<nav class="d-flex navbar">
  <div class="navbar-brand">
    <h2 class="logo">Łukasz Gut</h2>
    <p class="logo">Software engineer</p>
  </div>

  <button id="sidebarCollapse" class="navbar-toggler" type="button">
    <i class="fas fa-bars"></i>
  </button>
</nav>

<div class="d-flex flex-column vertical-nav" id="sidebar">
  <div class="hide-on-mobile mb-2">
    <h2 class="logo">Łukasz Gut</h2>
    <p class="logo">Software engineer</p>
  </div>

  <ul class="nav bd-highlight flex-column mt-5">
    <a href="/" class="link">
      <li class="nav-item">
        /
      </li>
    </a>
    <a href="/blog" class="bloglink">
      <li class="nav-item">
        /blog
      </li>
    </a>
    <a href="/projects" class="projectslink">
      <li class="nav-item">
        /projects
      </li>
    </a>
    <a href="/about" class="aboutlink">
      <li class="nav-item">
        /about
      </li>
    </a>
    <a href="/contact" class="contactlink">
      <li class="nav-item">
        /contact
      </li>
    </a>
  </ul>

  <div class="d-flex justify-content-center mt-auto">
    <a href="/"> <i class="fab fa-linkedin-in"></i> </a>
    <a href="/"> <i class="fab fa-twitter"></i> </a>
    <a href="/"> <i class="fab fa-github"></i> </a>
  </div>

  <p class="copyright">
    Copyright &copy; 2019 – 2019 Łukasz Gut. All rights reserved.
  </p>
</div>
