/* **** */
/* Main */
/* **** */

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  background-color: #f7f7f7;
  color: #393e46;
  overflow-x: hidden;
  min-height: 100vh;
}

p {
  font-size: 1rem;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

/* **** */
/* Logo */
/* **** */

h2[class~="logo"] {
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin: 0;
}

p[class~="logo"] {
  font-size: 0.75rem;
  font-family: "Roboto Mono", monospace;
  font-weight: lighter;
  color: #929aab;
  margin: 0;
}

/* ****** */
/* Titles */
/* ****** */

h2[class="title"] {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

h3[class="title"] {
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
