<!DOCTYPE html>
<html>
  <head>
    <title>Åukasz Gut</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar-style.css" />
    <link rel="stylesheet" href="/stylesheets/home-style.css" />
    <link rel="stylesheet" href="/stylesheets/projects-style.css" />
    <link rel="stylesheet" href="/stylesheets/contact-style.css" />

    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />

    <!-- Font awesome -->
    <script
      src="https://kit.fontawesome.com/f3166a0b62.js"
      crossorigin="anonymous"
    ></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body></body>
</html>
