<%- include("include/header") %> <%- include("include/navbar") %>

<div class="page-content" id="content">
  <div class="row">
    <div class="col">
      <h2 class="title">/about</h2>
      <p class="text-justify">
        <%= information.content %>
      </p>
    </div>
  </div>
</div>

<%- include("include/footer") %>
