<%- include("include/header") %> <%- include("include/navbar") %>

<div class="page-content" id="content">
  <h2 class="title">/admin</h2>
  <form action="/logout" method="GET">
    <button type="submit" class="btn btn-outline mt-2">Logout</button>
  </form>
</div>

<%- include("include/footer") %>
