<%- include("include/header") %> <%- include("include/navbar") %>

<div class="page-content" id="content">
  <h2 class="title">/contact</h2>
  <form class="form-contact" action="/contact" method="POST" autocomplete="off">
    <div class="row">
      <div class="col-6">
        <div class="form-label-group">
          <input type="text" id="inputName" name="name" class="form-control" placeholder="Your name" required autofocus/>
          <label for="inputName" class="">Your name</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-label-group">
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus/>
          <label for="inputEmail">Email address</label>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-label-group">
              <input type="text" id="inputSubject" name="subject" class="form-control" placeholder="Subject" required autofocus/>
              <label for="inputSubject">Subject</label>
            </div>
          </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-label-group">
              <input type="text" id="inputMessage" name="message" class="form-control" placeholder="Message" required autofocus/>
              <label for="inputMessage">Message</label>
            </div>
          </div>
    </div>

    <div class="g-recaptcha" data-sitekey="6LeDrrkUAAAAAOe9Lk_LKHwzsQF0XB-B7SCj6uSy"></div>

    <button type="submit" class="btn btn-outline mt-2">Send</button>
  </form>
</div>

<%- include("include/footer") %>
