<%- include("include/header") %> <%- include("include/navbar") %>

<div class="page-content" id="content">
    <h2 class="title">/test</h2>
    <div class="row">
      <div class="col-12 p-3">
        <pre>
<code class="cpp">int main() {
    std::cout << "hello\n";
}
</code>
        </pre>
      </div>
    </div>
  </div>
<%- include("include/footer") %>